* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Arial;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #eafbff;
	background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
nav {
	background-color: #fff;
	padding: 2rem;
	width: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.3rem;
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
	transition: width 0.6s linear;
}
nav.active {
	width: 30rem;
}
nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 0;
	transition: width 0.6s linear;
}
nav.active ul {
	width: 100%;
}
nav ul li {
	transform: rotateY(0deg);
	opacity: 0;
	transition: transform 0.6s linear, opacity 0.6s linear;
}
nav.active ul li {
	opacity: 1;
	transform: rotateY(360deg);
}
nav ul a {
	position: relative;
	color: #000;
	text-decoration: none;
	margin: 0 1rem;
	font-size: 1.3rem;
}

.icon {
	background-color: #fff;
	border: 0;
	cursor: pointer;
	padding: 0;
	position: relative;
	height: 3rem;
	width: 3rem;
	transition: right 0.6s linear;
}
.icon:focus {
	outline: 0;
}
.icon .line {
	background-color: #5290f9;
	height: 0.2rem;
	width: 2rem;
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	transition: transform 0.6s linear;
}
.icon .line2 {
	top: auto;
	bottom: 1rem;
}
nav.active .icon .line1 {
	transform: rotate(-765deg) translateY(0.55rem);
}
nav.active .icon .line2 {
	transform: rotate(765deg) translateY(-0.55rem);
}
